<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="База_ТСПК.Properties.Settings.TSPKConnectionString"
            connectionString="Data Source=WIN-TVNE764OSJI;Initial Catalog=TSPK;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>